<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Список покупок</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Список магазинов</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/productLists}">Покупки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/shops}">Магазины</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <hr/>
  <a th:href="@{/addShop}" class="btn btn-primary">Добавить магазин</a>
  <br/><br/>
  <table class="table table-bordered table-striped" id="shopsTable">

    <thead>
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Кем создан</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shop: ${shops}">
      <td th:text="${shop.name}"></td>
      <td th:text="${shop.address}"></td>
      <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${shop.createdBy.username}"></td>
      <td>
        <a th:href="@{/updateShop(shopId=${shop.id})}" class="btn btn-info">Изменить</a>

        <a th:href="@{/deleteShop(shopId=${shop.id})}" class="btn btn-danger ml-2">Удалить</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
  $(document).ready(function() {
      $("#shopsTable").DataTable({
          'aoColumnDefs': [{
              'bSortable': false,
              'aTargets': [-1] /* 1st one, start by the right */
          }]
      });
  })
</script>
</body></html>
