<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список покупок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Список покупок</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Зарегистрироваться</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <hr/>

    <h3>Изменение пользователя</h3>
    <hr/>

    <form th:action="@{/saveUser}" th:object="${user}" method="POST">

        <input type="text" th:field="*{username}" class="form-control col-4 mb-4" placeholder="Введите логин"/>

        <select class="form-select" aria-label="User role" th:field="*{role.id}">
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.name}"
                    th:selected="${role.id == user.role.id}"
            ></option>
        </select>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>

        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{password}"/>

    </form>
    <hr/>
    <a th:href="@{/users}">Назад к списку</a>
</div>

</body>
</html>
